################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/scorecard/.vs/scorecard/FileContentIndex
/scorecard/.vs/scorecard/v17/.suo
