<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add connectionString="Server=your_server_name;Database=your_database_name;User Id=your_username;Password=your_password;"/>
  </connectionStrings>
  <appSettings>
    <add key="src" value="pos"/>
  </appSettings>
</configuration>